html{
	font-family: "Arial", sans-serif;}

*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}
p{
	margin: 0;
}
.great_vibes{
	font: 60pt 'Great Vibes', cursive;
	color: #f8b864;
	margin: 0.5em;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	font-weight: normal;
}
.arial{
	font-family: Arial, sans-serif;
}
/* -------------------------------MENU */
.logo{
	margin: 0; 
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	position: relative;
	float: right;
}
ul li{
	display: inline-block;
}
ul li a{
	color: #fff;
	padding: 15px;
	display: block;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul ul{
	position: absolute;
	min-width: 200px;
	color: #000;
	background: #000;
	display: none;
}
ul ul li{
	display: block;
	background: #000;
	color: #fff;
} 

ul li:hover ul{
	display: block;
	color: #000;
	background: #fff;
}


  ul li span{
	color: #292929;
	float: right;
	padding-left: 10px;
} 
 
nav div{
	background: lightgrey;
	color: #292929;
	font-size: 24px;
	padding: 0.6em;
	cursor: pointer;
	display: none;
}
nav img{
	margin-left: 5em;
}
nav ul{
	margin-right: 5em;
}
#nav{
	background-color: #000;
	opacity: 0.8;
	padding: 0.5em 0;
	opacity: none;
}

/* --------------------------------HEADER */
.header{
	flex-wrap: wrap;	
	justify-content: space-between;
	align-items: center; 
	background-image: url(img/main_img.png);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 30px;
}
.header .logo{
	padding-left: 2em;
	display: flex;
}

.content_main{
	text-align: center;
}
.content_main h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 60pt;
	color: #fff;
	font-weight: normal;
	margin-top: 3em;
}
.content_main button{
	margin-top: 7em;
	width: 20%;
	padding: 1em 0;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
}

.content_main a{
	text-decoration: none;
	opacity: 0.7;
}

/*---------------------------------START-SLIDER */
.slider{
	max-width: 100%;
	position: relative;
	height: 100vh;
	margin-bottom: 130px;
	margin: auto;
}

.slider .item img{
	object-fit: cover;
	width: 100%;
	height: 100vh;
}

.slider .prev, .slider .next{
	cursor: pointer;
	position: absolute;
	top:0;
	top:50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.slider .next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
.slider .prev:hover, 
.slider .next:hover{
	background-color: rgba(112, 112, 112, 0.6);
}
.slideText{
	position: absolute;
	color: #fff;
	font-size: 4em;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
	text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
.slider_dots{
	position: absolute;
	bottom: 1em;
    width: 100%;
	text-align: center;
	display: inline-block;
} 

.slider_dots_item{
	cursor: pointer;
	height: 20px;
	width: 20px;
	margin: 0 2px;
	background-color: #ddd;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, 
.slider_dots_item:hover{
	background-color: #aaa;
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* -- -----------------------------Paragraph of list Start  */
.paragraph{
	text-align: center;
}
.par_item{
	padding-top: 4em;
	width: 29%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 0 1em ; 
	border: 2px #000;	
	height: 50vh;
}
.par_item:hover{
	border: 1px solid;
}
.par_item_1 a h3{
	font-family: 'Great Vibes', cursive;
	font-size: 24pt;
	font-weight: normal;
	border: 1px solid ;
	color: #f8b864;
	padding: 0.3em;
	border-radius: 50%;
	width: 60%;
	margin: 0 auto;
	margin-top: 0.5em;
	margin-bottom: 1em;
}
.par_item a{
	text-decoration: none;
}
/* --------------------------------MAKE RESERV START*/
.make_reserv{
	text-align: center;
	background-image: url(img/menu_middle.png);
	width: 100%;
	height: 80vh;
	color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0;
	padding: 0;
}
.reserv_top{
	text-align: center;
	margin-top:0;
	padding: 1em;
	padding-top: 5em;
}

.reserv_top p{
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 50pt;
	font-weight: bold;

}
.reserv_top span{
	font-family: 'Great Vibes', cursive;
	font-size: 50pt;
	font-weight: normal;
}
.reserv_top button{
	color: #fff;
	background: #f8b864;
	padding: 0.5em 4em;
	border: none;
	font-family: Arial, sans-serif;
	font-size: 15pt;
	font-weight: bold;
	margin-top: 3em;
}
/*=============3 BLOCKS OF RESERVATIONS=========*/
.reserv_bott p{
}
.reserv_bott h4{
	margin-top: 20vh;
}
.reserv_bott span{
	font-weight: bold;
}
.reserv_it_1, .reserv_it_2, .reserv_it_3{
	width: 33.33%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	color:#fff;
	height: 50vh;
	font-family: Arial, sans-serif;
	font-size: 20pt;
	margin: 0;
}
.reserv_it_1{
	background-image: url(img/menu_1.png);
}
.reserv_it_2{
	background-image: url(img/menu_2.png);
}
.reserv_it_3{
	background-image: url(img/menu_3.png);
}
.reserv_it_1:hover{
	border: 3px solid #000;
}
.reserv_it_2:hover{
	border: 3px solid #000;
}
.reserv_it_3:hover{
	border: 3px solid #000;
}

/* ---------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------menus--------------------------------- */

.conteiner h1{
	border-bottom: 2px solid #f8b864;
}
#menus-container{
	margin: 0 auto;
	width: 70%;
	display: flex;
}
.container-menu-images{
	background-image: url(img/img-menu-3.jpg);
	background-repeat: no-repeat;
	width: 40%;
	background-position: center center;
	height: 80vh;
}
.dish{
	width: 60%;
	height: 60vh;
	display: grid;
	grid-template-columns: 6fr 1fr;
	border: 3px solid #ebebeb;
	float: right;
	align-items: center;
	margin-top: 5%;
	margin-left: 0.5%;
	box-shadow: 7px 7px 12px -2px rgba(56,41,56,1);
}
.conteiner h2{
	margin-top: 1em;
	font-family: Arial, sans-serif;
	font-size: 30pt;
	font-weight: normal;
	text-align: right;
	margin-right: 4em;
}
.dish-data span{
	font-family: Arial, sans-serif;
	font-size: 15pt;
	font-weight: bold;
}
.dish-data p{
	margin-left: 2em;
}
.second-dish{
	margin-top: 7%;
}
/* ========================BLOCK-MENU-2=======*/
#menus-container-2{
	margin: 0 auto;
	width: 70%;
	display: flex;
}
.container-menu-images-2{
	background-image: url(img/img-menu-2.jpg);
	background-repeat: no-repeat;
	width: 40%;
	background-position: center center;
	height: 80vh;
	margin-left: 0.5%;
}
.container-menu-images-3{
	background-image: url(img/img-menu-1.jpg);
	height: 75vh;
}
/* ===============E V E N T S==================*/
#mainEvents{
	background-image: url(img/events.jpg);
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
}
#mainEvents h1{
	text-align: center;
	font: 50pt 'Great Vibes', cursive;
	color: #f8b864;
	margin: 0.5em;
	text-shadow: 1px 1px 1px #000;
}

.events{
	width: 80%;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.events img{
	width: 25%;
	height: 40%;
}
.events_type{
	float: right;
	text-align: start;
	color: #fff;
	width: 60%;
	height: 40%;
	margin-left: 1em;
	background-color: rgba(0, 0, 0, 0.6);
	
}
.events_type h2{
	margin: 0;
	font: 30pt 'Arial', sans-serif;
	text-shadow: 1px 1px 1px #000;
	margin-bottom: 0.5em;
}
.events_type p{
	font: 20pt 'Arial', sans-serif;
	text-shadow: 1px 1px 1px #000;
	margin-bottom: 0.5em;
}
.events_type label{
	text-align: center;
}
.events_first{
	display: none;
}
.events_first + label ~ div{
    display: none;
}
.events_first + label {
    border-bottom: 1px dotted green;
    padding: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}
.events_first:checked + label {
    color: #fff;
    border-bottom: 0;
}
.events_first:checked + label + div {
    display: block; 
    background: #efefef;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
    color: #000;
}
.events {
    margin: 5% 5% 0 10%;
}

/* ==========================GIFT-CARD=========*/
.gift_body{
	background-image: url(img/back-gift.jpg);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	/* height: 100vh; */
}
.gift_body h1{
	text-align: center;
	font: 50pt 'Great Vibes', cursive;
	color: #f8b864; 
	margin: 0.5em;
	text-shadow: 1px 1px 1px #000; 

}
.main_gift{
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}
.gift_price{
	width: 30%;
	height: 100%;
	color: #fff;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #000;
	border-radius: 10%;
	padding-top: 5%;
	margin-right: 1em;
}
.gift_price p{
	margin-bottom: 1em;
	width: 80%;
	margin-left: 10%;
	text-align: center;
}
.gift_price p, h2{
	margin-bottom: 1em;
}
.gift_price span{
	display: block;
	font: 20pt 'Lobster Two', cursive;

}
.gift_type{
	width: 50%;
	float: right;
}
.gift_type img{
	width: 100%;
	height: 100%;
	border-radius: 7%;	
}
.gift_price button{
	padding: 1.4em 6em;
	border-radius: 10%;
	background-color: #f8b864;
	border: 0px;
	cursor: pointer;
}
.gift_price button:hover{
	box-shadow: 5px 5px 5px 0px rgba(196,183,118,1);
}
/*================R E S E R V A T I O N S=============*/
.form-reserv h2{
	font: 30pt 'Arial', sans-serif;
	margin-top: 10%;
}
.reserv{
	text-align: center;
	font-weight: bold;
	width: 100%;
}
.reserv-image img{
	width: 100%;
	height: auto;
}
.form-reserv{
	border: 1px solid #000;
	width: 40%;
	height: 55vh;
	margin: 0 auto;
	display: inline-block;

}
.form-reserv form{
	margin-bottom: 1em;
	box-sizing: border-box;
} 

input[type=text]{
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* float: right; */
}

.reserv-image{
	float: right;
	width: 50%;
}

/* -----------------------------------CONTACTS*/
.img-contact{
	background-image: url(img/photo_rest_1.jpg);
	width: 100%;
	height: 93vh;
	background-size: cover;
	background-repeat: no-repeat;

}
#map{
	display: flex;
	justify-content: center;
	width: 100%;
}
.maps-info{
	width: 30%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	padding-left: 1%;
}
.maps{
	width: 40%;
	height: 100%;
}
.maps iframe{
	width: 100%;
	height: 60vh;
}
.img-contact h1{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: #fff;
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 50pt;
	color: #f8b864;
	margin: 0;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	font-weight: normal;
	box-shadow: 7px 7px 12px -2px rgba(56,41,56,1);
}
.maps-info h2{
	font-family: 'Fjalla One', sans-serif;
	color: #fff;
	font-size: 20pt;
	font-weight: normal;
}
.maps-info p{
	font-family: 'Fjalla One', sans-serif;
	color: #fff;
	font-size: 15pt;
	border-bottom: 1px solid #fff;
	padding-bottom: 0.3em;
}
/* ----------------------------------M E D I A */

@media(max-width: 768px){
	/* ------------------------------MEDIA FOR SLIDER start */
	nav div{
		display: block;
	}
	ul{
		display: none;
		position: static;
		background: #e3e3e3;
		width: 80%;
	}

	ul li{
		display: block;
	}

	ul ul{
		position: static;
		background: #e3e3e3;
	}
	.logotype a{
		display: none;
	}
	nav img{
		display: none;
	}
/* ------------------------------MEDIA FOR SLIDER end */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	nav div{
		display: block;
	}
	ul{
		display: none;
		position: static;
		background: #e3e3e3;
		width: 80%;
	}

	ul li{
		display: block;
	}
	ul li a{
		color: #000;
	}

	ul ul{
		position: static;
		background: #e3e3e3;
	}
	.logotype a{
		display: none;
	}
	nav img{
		display: none;
	}


		.content_main h1{
			font-size: 30pt;
		}
		.content_main button{
			display: none;
		}
		.slideText{
			font-size: 20pt;
			margin-top: 4em;
		}
		.par_item{
			display: block;
			width: 90%;
			text-align: center;
		}
		.reserv_top span, .reserv_top p{
			font-size: 30pt;
		}
		.reserv_bott{
			
		}
		.reserv_it_1, .reserv_it_2, .reserv_it_3{
			display: block;
			width: 100%;
			height: 60vh;
		}
		.reserv_bott h4, .reserv_bott p, .reserv_bott span{
			font-size: 20pt;
			margin: 0;
			padding: 0;
		}
		.reserv_bott h4{
			padding-top: 20%;
		}


.main_gift{
	display: block;
	width: 100%;
	margin: 0 auto;
}
.gift_price{
	display: block;
	width: 80%;
	height: 50%;
	margin: 0 auto;
}
.gift_type{
	display: block;
	width: 80%;
	margin: 0 auto;
}
.events{
	width: 80%;
}
.events img{
	display: none;
}
.events_type{
width: 100%;
}
.container-menu-images{
	display: none;
}
.container-menu-images-2{
	display: none;
}
.menus-container{
	width: 100%;
}
.dish{
	width: 100%;
}

/* REZERVATIONS */
.reserv-image{
	display: block;
	width: 100%;
}
.form-reserv{
	width: 100%;
	height: 30vh;
	border: none;
}
.reserv{
	height: 100vh;
}
/* ---------------CONTACTS */
.maps-info{
	display: block;
	width: 100%;
}
.maps{
	display: block;
	width: 100%;
}
}

